<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="style.css" />
      </head>
<body>
<h1>oh no</h1>
<p>Sorry you are not authorized. Please login.</p>
<a href="/">back 2 home</a>
</body>
</html>