<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>awww yes members only</h1>
    <a href="/">back 2 home</a>
    <span
      >Do you want to logout?
      <a href="/logout">Logout</a>
    </span>
  </body>
</html>
